[Unit]
Description=Unalix daemon
Requires=unalix.socket
After=network.target

[Service]
User=unalix
Group=www-data
WorkingDirectory=/home/unalix/Unalix-web
ExecStart=/home/unalix/Unalix-web/venv/bin/gunicorn \
          --access-logfile '-' \
          --workers '8' \
          --bind 'unix:/run/unalix.sock' \
          'unalixweb.wsgi:application'

[Install]
WantedBy=multi-user.target
